html{
	scroll-behavior: smooth;
	height: 100%;
}
body{
	padding-top: 55px;
	font-family: 'Open Sans', sans-serif;
	height: 100%;

}



#big{
	background-image: url('images/landing.png');
	height: 100%;
	background-size: cover;
	background-position: center;
}

.white{
	color: white;
}

.navi{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

.heading,h1,h2,h3{

	font-weight: bolder;
	font-family: 'Montserrat', sans-serif;
}



#big span,#big p{
  font-size: 48pt;
  font-weight: bold;
  display:inline;
}

#big p{
  font-size: 48pt;
  font-weight: bold;
  display:inline;
}

.blinking-cursor {
  color: #2E3D48;
  font-size: 48pt;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}